.wrapper{
    width: 100%;
	padding: 0;
	background-color: dodgerblue;
	border-bottom: 1px solid #ccc;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconWrapper{
    all: unset;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerElement {
    color: white;
    font-family: 'Arimo';
    font-size: 30px;
    padding: 20px;
    
}
.headerElement:hover{
    font-weight: bolder;
    color:#ccc;
    cursor: pointer;
    }

@media screen and (max-width: 950px) {
  .headerElement {
    font-size: 18px;
  }
}